*{
    margin:0 0;padding:0 0;
}
/* 导航栏*/
.navBar{
    width: 100vw;
    height: 50px;
    border:1px solid red;
    display: flex;

}
.navBar>div{
    margin: 0 40px;
    line-height:50px;
}
.main>.fistpage.active{
    display: none;
    
}
.main>div.my.active{
    display: none;
    color: red;
}
.main>.input.active{
    display:none;
}
/* 轮播*/
.Round-sowing{
    width:100vw;
    height:200px;
    border:1px solid blue;
}
/* 歌曲信息种类*/
.category{
    width:100vw;
    height:100px;
    border:1px solid navajowhite;
    padding: 0 0;
}
.category>div{
    margin: 0 0;
    display: inline-block;
    background: greenyellow;
    height: 50%;
    width: 32%;

}
    .icon {
       width: 1em; height: 1em;
       vertical-align: -0.15em;
       fill: currentColor;
       overflow: hidden;
    }

/*歌曲展示*/
.Songs{
    width:100vw;
    height:100px;
    border:1px solid green;
}
.Songs>ol{
    list-style: none;
}
